In [1]:
import glob
import os 

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
sns.set(font_scale=1.4)

In [2]:
import files
import occupancy
import wait_times
import vehicles
import constants

In [52]:
PATH = r"E:\Files\CodeProjects\MATSim\Scenarios\DRT-line-one-car-different-places"

In [53]:
wait_times.get_wait_stats(PATH)

mean wait                378.50
95p wait                 699.00
rejection rate             0.69
avg travel time         3065.25
avg direct distance     9900.00
avg trip distance      11000.00
dtype: float64

In [54]:
vehicles.get_distances_stats(PATH)

total distance          24100.00
total empty distance     1600.00
empty ratio                 0.07
Name: 29, dtype: float64

In [55]:
df2 = occupancy.get_ocucpancy_aggregation(PATH)
df = pd.DataFrame(df2).stack().unstack(level=-2).fillna(0)
df.style.format({col: '{:,.2f}'
                 for col in df.columns if "avg" not in col})